<div id="<%= dom_id password %>">
  <p>
    <strong>Url:</strong>
    <%= password.url %>
  </p>

  <p>
    <strong>Username:</strong>
    <%= password.username %>
  </p>

  <p>
    <strong>Password:</strong>
    <%= password.password %>
  </p>

</div>
